
.cards {
    background-color: #095a80;
}

#recent {
    display: block;
    /* background-color: #095a80; */
    /* margin: 2%;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: aliceblue; */
}